// Fonts
$font-family: 'Vollkorn';
$font-family-alt: 'Open Sans';

// Grid
$grid-columns: 12;
$grid-gutter-width-base: 30px;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Fonts
$font-line-height: 1.4;
$modularscale: (
  base: 16px,
  ratio: 1.2,
  768px: (
    base: 18px,
    ratio: 1.2,
  )
);

// Colors
$color-default: #000;
$color-secondary: #E54F20;
