*{
  box-sizing: border-box;
  position: relative;
  @include font(0);
  &::after,
  &::before{
    box-sizing: border-box;
    font-size: inherit;
  }
}

html, body{
  @include make-font(0);
}
p { @include font(0) };
h5 { @include font(1) };
h4 { @include font(2) };
h3 { @include font(3) };
h3 { @include font(4) };
h2 { @include font(5) };
h1 { @include font(6) };
